[submodule "submodules/Project.Utils"]
	path = submodules/Project.Utils
	url = https://github.com/T-PoseRatkechi/Project.Utils.git
[submodule "submodules/SharedScans"]
	path = submodules/SharedScans
	url = https://github.com/T-PoseRatkechi/SharedScans.git
